_site/
# _sass/
.sass-cache/
.jekyll-cache/
.jekyll-metadata/
.vscode/spellright.dict
.vscode/settings.json
jekyll-theme-cayman.gemspec
# assets/css/style.scss
_sass/jekyll-theme-cayman.scss
_sass/normalize.scss
_sass/rouge-github.scss
_sass/variables.scss
# _sass/start-btn.scss
Gemfile
Gemfile.lock
*.gem
