<nav>
    <a href="FR.html">FR</a>

    <a href="FR01.html">| 01</a>
    <a href="FR02.html">| 02</a>
    <a href="FR03.html">| 03</a>
    <a href="FR04.html">| 04</a>

    <a href="FR10.html">| 10</a>

    <a href="FR38.html">| 38</a>

    <a href="FR62.html">| 62</a>
    <a href="FR63.html">| 63</a>
    <a href="FR65.html">| 65</a>
    <a href="FR66.html">| 66</a>
    <a href="FR69.html">| 69</a>

    <a href="FR91.html">| 91</a>
    <a href="FR92.html">| 92</a>
    <a href="FR93.html">| 93</a>
    <a href="FR94.html">| 94</a>
    <a href="FR95.html">| 95</a>

    <a href="FR97.html">| 97</a>
    <a href="FR99.html">| 99</a>
</nav>
    